<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 네임스페이스 등록 후 사용해야 함 -->
<mapper namespace="com.reminder.penshop.product.model.dao.ProductMapper">

    <resultMap id="productResultMap" type="com.reminder.penshop.product.model.dto.ProductDTO">
        <id property="prodNo" column="PROD_NO"/>
        <result property="categoryNo" column="CATEGORY_NO"/>
        <result property="brandNo" column="BRAND_NO"/>
        <result property="prodName" column="PROD_NAME"/>
        <result property="prodDesc" column="PROD_DESC"/>
        <result property="productTag" column="PRODUCT_TAG"/>
        <result property="discountRate" column="DISCOUNT_RATE"/>
        <result property="prodPrice" column="PROD_PRICE"/>
        <result property="prodOrigin" column="PROD_ORIGIN"/>
        <result property="prodDetailContent" column="PROD_DETAIL_CONTENT"/>
        <result property="prodDetailViewCount" column="PROD_DETAIL_VIEW_COUNT"/>
        <result property="prodEnrollDate" column="PROD_ENROLL_DATE"/>
        <result property="prodChangeDate" column="PROD_CHANGE_DATE"/>
        <result property="prodAvailYn" column="PROD_AVAIL_YN"/>
        <association property="category" resultMap="categoryResultMap"/> <!-- 1:1 -->
        <association property="brand" resultMap="brandResultMap"/> <!-- 1:1 -->
        <association property="attachmentList" resultMap="thumbnailResultMap"/> <!-- 1:1 -->
        <collection property="option" resultMap="optionResultMap"/> <!-- 1:N -->
    </resultMap>


</mapper>